
.update-container {
  width: 500px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .update-details {
    display: flex;
    flex-direction: column;
  }
  
  .update-details label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .update-details input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
  }
  
  .update-details input:focus {
    border-color: #070db6;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
  }
  
  @media(max-width:786px){
    .update-container{
      width: 300px;
    }
  }
